<div class="mat-elevation-z8 small-table" id="tableDiv_">
  <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource" matSort #leaveTbSort="matSort">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >Name</th>
      <td mat-cell *matCellDef="let row"  >{{row.username}}</td>
    </ng-container>   
    <ng-container matColumnDef="leaveReason">
      <th mat-header-cell  *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row"   ></td>
    </ng-container>
    <ng-container matColumnDef="fromDate">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" ></td>
    </ng-container>
    <ng-container matColumnDef="toDate">
      <th mat-header-cell *matHeaderCellDef ></th>
      <td mat-cell *matCellDef="let row" ></td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Applied On</th>
      <td mat-cell *matCellDef="let row" >{{row.createdAt|date: 'dd/MM/yyyy hh:mm a'}}</td>
    </ng-container>
  
    <ng-container matColumnDef="leaveType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Leave Type</th>
      <td mat-cell *matCellDef="let row" >{{row.leaveType|titlecase}}</td>
    </ng-container>
    <ng-container matColumnDef="noOfDays">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Days</th>
      <td mat-cell *matCellDef="let row" >{{row.noOfDays}}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row" >{{row.status|titlecase}}</td>
    </ng-container>
    <ng-container matColumnDef="adminRemark">
      <th mat-header-cell *matHeaderCellDef ></th> <!--Manager Remark {{row.adminRemark|titlecase}}-->
      <td mat-cell *matCellDef="let row" ></td>
    </ng-container>  
    <ng-container matColumnDef="lop">
      <th mat-header-cell *matHeaderCellDef ></th>
      <td mat-cell *matCellDef="let row" ></td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell  *matHeaderCellDef > Actions </th>
      <td mat-cell *matCellDef="let row" >
          <button class="button1" (click)="viewLeaves(row)">View Details</button> 
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">   
  </table>
  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10]"
      aria-label="Select page">
  </mat-paginator>
</div>
<!-- class="display-none" -->
<div id="emptyDiv_" style="text-align: center;" class="display-none" >
  <br>
  <!-- <h3 > No Rejected Leaves</h3> -->
  <div class="card m-3 p-3">
    <h2 > No Rejected Leaves</h2>
  </div>
</div>
