
  <div class=" container center">
    <!-- <div class="row card m-3 p-3">
      <div class="col-12">
        <h1 class="heading">Employee Id: 
        <span class="detail" style="font-size: 13px;">{{user.empId|uppercase}}</span> </h1>
      </div>
      <!-- //userId firstName lastName  gender email role phoneNumber leave_bal adminId adminName leavesList --
      <div class="col-12">
        <h1 class="heading">First Name: 
        <span class="detail" style="font-size: 13px;">{{user.firstName|titlecase}}</span> </h1>
      </div>

      <div class="col-12">
        <h1 class="heading">Last Name: 
        <span class="detail" style="font-size: 13px;">{{user.lastName|titlecase}}</span> </h1>
      </div>

      <div class="col-12">
        <h1 class="heading">Gender: 
        <span class="detail">{{user.gender|titlecase}}</span> </h1>
      </div>
      <div class="col-12">
        <h1 class="heading">Email: 
        <span class="detail">{{user.email}}</span> </h1>
      </div>
      <div class="col-12">
        <h1 class="heading">Role: 
        <span class="detail">{{user.role|titlecase}}</span> </h1>
      </div>
      <div class="col-12">
        <h1 class="heading">PhoneNumber: 
        <span class="detail">{{user.phoneNumber}}</span> </h1>
      </div>
      <div class="col-12">
        <h1 class="heading">Leave_bal: 
        <span class="detail">{{user.leave_bal}}</span> </h1>
      </div>
  </div>     -->
   <div class="row  center">
    <div class="col-3">

    </div>
      <div class="col-6 card m-3 p-3"style="background-color:aliceblue">
        <h1 class="heading">Employee Id: 
        <span class="detail" style="font-size: 13px;">{{user.empId|uppercase}}</span> </h1>

        <h1 class="heading">First Name: 
        <span class="detail" style="font-size: 13px;">{{user.firstName|titlecase}}</span> </h1>

        <h1 class="heading">Last Name: 
        <span class="detail" style="font-size: 13px;">{{user.lastName|titlecase}}</span> </h1>

        <h1 class="heading">Gender: 
        <span class="detail">{{user.gender|titlecase}}</span> </h1>

        <h1 class="heading">Email: 
        <span class="detail">{{user.email}}</span> </h1>
      
        <h1 class="heading">Role: 
        <span class="detail">{{user.role|titlecase}}</span> </h1>

        <h1 class="heading">PhoneNumber: 
        <span class="detail">{{user.phoneNumber}}</span> </h1>

        <h1 class="heading">Leave_bal: 
        <span class="detail">{{user.leave_bal}}</span> </h1>
        <div class="d-flex flex-row justify-content-center">
  <button  mat-flat-button color="primary" (click)="update()">Update password</button>  

          <!-- <button class=mat-raised-button mat-primary m-2" mat-dialog-close (click)="update()">Update password</button>  -->

        </div>

  </div>
  <div class="col-3">

  </div>     
</div>    



<!-- <a href="" class="mat-raised-button mat-primary m-2" mat-dialog-close>Update password</a>  -->



