<div class="card mt-5 p-3 center" >

<!-- <h1>{{length_}}</h1> -->
    <h3 style="font-weight:bold; text-align: center;" >Upcoming Holidays</h3>
    <div *ngFor="let holiday of holidayList;  let i=index">
       <!--  <div *ngIf="i<count && today_date_con < holiday['holidayDate'] else show"> -->
        <div *ngIf="i<count">
        <h4 class="head">{{holiday['holidayName']}}</h4>
        <p class="date">{{holiday['holidayDate']}} / {{holiday['holidayDate']| date :'EEEE'}}</p>
        <!-- <p>{{holiday['holidayDate']| date :'EEEE'}}</p> -->

        <!-- <{{ strDate | date :'EEEE'}} -->
        <hr>
        </div>
        <ng-template #show   (click) = "increaseCount()">
           <p>h</p>
        </ng-template>
    </div>
    <!-- <h4>Pongal </h4>
    <p>13 January / Monday</p>
    <hr>
    <h4>Republic Day </h4>
    <p>26 January / Thursday</p>
    <hr>
    <h4>Good Friday </h4>
    <p>07 April / Friday</p>
    <hr>
    <h4>Tamil New Year</h4>
    <p>14 April / Friday</p>

    <hr> -->
        <!-- <button >Holidays List</button> -->
        <button class="button1" (click)="showHolidays()" >Holidays List</button>
</div>
